* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
    gap: 10px;
    align-items: center;
}

.navbar__s1__title {
    color: #A335F0;
}

.navbar__s2 {
    padding: 10px;
    border: 1px black solid;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding: 10px;
}

.categories p {
    background-color: #A335F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
}

.sale-image img {
    width: 100%;
}

.recommneded {
    padding: 10px;
}

.recommneded-container {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: space-between
}

.course-card {
    width: 300px;
    margin: 10px;
}

.course-card img {
    height: 50%;
    width: 100%;
}

.topics {
    padding: 10px;
}

.topics__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p {
    border: 2px solid gray;
    padding: 10px;
    flex-basis: 25%;
    flex-grow: 1;
}

.popular{
    padding: 10px;
}

.popular__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.footer p{
    margin: 20px;
}
.footer-one{
    display: flex;
    gap: 10px;
}

.footer-two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}